.chat {
    min-height: 300px;
    max-width: 300px;
    max-height: 400px;
    display: flex;
    background: white;
    flex-direction: column;
    border-radius: 10px;
    padding: 8px;
}

.messages {
    flex-grow: 1;
    overflow: auto;
}

.message {
    border-radius: 15px;
    margin: 0 15px 20px;
    padding: 10px 20px;
    position: relative;
    /* font-size: 20px;*/
}

.message.to {
    background-color: var(--foreground-subdued);
    margin-left: 100px;
    text-align: right;
}

.message.from {
    background-color: var(--foreground-accent);
    color: var(--foreground-inverted);
    margin-right: 100px;
}

.message.to+.message.to,
.message.from+.message.from {
    margin-top: -10px;
}

.message-box {
    background-color: transparent;
    border: 0.1rem solid #d1d1d1;
    border-radius: .4rem;
    box-shadow: none;
    box-sizing: inherit;
    height: 2.5rem;
    padding: .6rem 1.0rem .7rem;
    width: 100%;
}

.actions-bar {
    display: flex;
}

.title-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.send-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: .4rem;
    border: none;
    background-color: var(--foreground-accent);
    color: var(--foreground-inverted);
}

.action {
    cursor: default;
}